<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ulstu.tips.moiseev"
    android:installLocation="internalOnly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ru.ulstu.tips.moiseev.MenuActivity"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.ulstu.tips.moiseev.AboutActivity"
            android:label="@string/title_activity_about" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.ulstu.tips.moiseev.MenuActivity" />
        </activity>
        <activity
            android:name="ru.ulstu.tips.moiseev.CalculationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_activity_calculation" >
        </activity>
        <activity
            android:name="ru.ulstu.tips.moiseev.HelpActivity"
            android:label="@string/title_activity_help" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.ulstu.tips.moiseev.MenuActivity" />
        </activity>
    </application>

</manifest>
